fastapi==0.115.0
uvicorn==0.29.0
python-multipart==0.0.9
pydantic==2.7.4
langchain
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-text-splitters
faiss-cpu==1.8.0
pypdf==4.2.0
huggingface-hub
